@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.snakeBodyElement {
  width: 30px;
  height: 30px;
  border-radius: 30%;
  background-color: rgba(0, 0, 0, 0.75);
}

.foodElement {
  width: 30px;
  height: 30px;
  border-radius: 30%;
  background-color: rgba(33, 82, 114, 0.75);
}
img{
  width: 50px;
  aspect-ratio: 1/1;
}

/* .animateFood {
  animation: spin 3.5s infinite;
}

@keyframes appear {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(350deg);
  }
  100% {
    transform: rotate(0deg);
  }
} */

body {
  overflow: hidden;
  background-color: #9bba5a;
  font-family: "Cinzel", serif;
}

.hideBoard > *:not(:last-child) {

  opacity: 0.3;
}

@media screen and (max-width: 700px) {
  #gameContainer {
    transform: scale(0.5);
  }

  #startContainer {
    transform: scale(0.5);
  }
  #scoreContainer {
    transform: scale(0.5);
    margin-top: -150px;
  }
  #gameAction{
    transform: scale(0.5);
  }
  .score {
    font-size: 32px !important;
  }
}

.animateFood {
  animation: rotateFood 2s linear infinite;
}

@keyframes rotateFood {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}